* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.js text eol=crlf
public/vendor/jsvalidation/js/jsvalidation.js text eol=crlf


/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
